Jobs/ProcessABTest/ProcessABTest/Web References/UNICA_API/IntApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessABTestJob">
        <s:complexType />
      </s:element>
      <s:element name="ProcessABTestJobResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessABTestJobSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessABTestJob" />
  </wsdl:message>
  <wsdl:message name="ProcessABTestJobSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessABTestJobResponse" />
  </wsdl:message>
  <wsdl:portType name="IntApiSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessABTestJob">
      <wsdl:input message="tns:ProcessABTestJobSoapIn" />
      <wsdl:output message="tns:ProcessABTestJobSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntApiSoap" type="tns:IntApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessABTestJob">
      <soap:operation soapAction="http://tempuri.org/ProcessABTestJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntApiSoap12" type="tns:IntApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessABTestJob">
      <soap12:operation soapAction="http://tempuri.org/ProcessABTestJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntApi">
    <wsdl:port name="IntApiSoap" binding="tns:IntApiSoap">
      <soap:address location="http://u-flow.advantech.com.tw/Services/IntApi.asmx" />
    </wsdl:port>
    <wsdl:port name="IntApiSoap12" binding="tns:IntApiSoap12">
      <soap12:address location="http://u-flow.advantech.com.tw/Services/IntApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>