Jobs/GetModelNo_For_UNICA_Activity/GetModelNo_For_UNICA_Activity/Web References/CurationWS/IntApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="AdvProspectDb" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="AdvProspectDb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="AdvProspectDb">
      <s:element name="HelloKitty">
        <s:complexType />
      </s:element>
      <s:element name="HelloKittyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloKittyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllModelString">
        <s:complexType />
      </s:element>
      <s:element name="GetAllModelStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllModelStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatchedModelsFromText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strModels" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatchedModelsFromTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatchedModelsFromTextResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateEngagementPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateEngagementPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateEngagementPointResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportLeadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloKittySoapIn">
    <wsdl:part name="parameters" element="tns:HelloKitty" />
  </wsdl:message>
  <wsdl:message name="HelloKittySoapOut">
    <wsdl:part name="parameters" element="tns:HelloKittyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllModelStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllModelString" />
  </wsdl:message>
  <wsdl:message name="GetAllModelStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllModelStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatchedModelsFromTextSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatchedModelsFromText" />
  </wsdl:message>
  <wsdl:message name="GetMatchedModelsFromTextSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatchedModelsFromTextResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateEngagementPointSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateEngagementPoint" />
  </wsdl:message>
  <wsdl:message name="CalculateEngagementPointSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateEngagementPointResponse" />
  </wsdl:message>
  <wsdl:message name="ImportLeadSoapIn">
    <wsdl:part name="parameters" element="tns:ImportLead" />
  </wsdl:message>
  <wsdl:message name="ImportLeadSoapOut">
    <wsdl:part name="parameters" element="tns:ImportLeadResponse" />
  </wsdl:message>
  <wsdl:portType name="IntApiSoap">
    <wsdl:operation name="HelloKitty">
      <wsdl:input message="tns:HelloKittySoapIn" />
      <wsdl:output message="tns:HelloKittySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllModelString">
      <wsdl:input message="tns:GetAllModelStringSoapIn" />
      <wsdl:output message="tns:GetAllModelStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchedModelsFromText">
      <wsdl:input message="tns:GetMatchedModelsFromTextSoapIn" />
      <wsdl:output message="tns:GetMatchedModelsFromTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateEngagementPoint">
      <wsdl:input message="tns:CalculateEngagementPointSoapIn" />
      <wsdl:output message="tns:CalculateEngagementPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportLead">
      <wsdl:input message="tns:ImportLeadSoapIn" />
      <wsdl:output message="tns:ImportLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntApiSoap" type="tns:IntApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloKitty">
      <soap:operation soapAction="AdvProspectDb/HelloKitty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllModelString">
      <soap:operation soapAction="AdvProspectDb/GetAllModelString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchedModelsFromText">
      <soap:operation soapAction="AdvProspectDb/GetMatchedModelsFromText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateEngagementPoint">
      <soap:operation soapAction="AdvProspectDb/CalculateEngagementPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLead">
      <soap:operation soapAction="AdvProspectDb/ImportLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntApiSoap12" type="tns:IntApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloKitty">
      <soap12:operation soapAction="AdvProspectDb/HelloKitty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllModelString">
      <soap12:operation soapAction="AdvProspectDb/GetAllModelString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchedModelsFromText">
      <soap12:operation soapAction="AdvProspectDb/GetMatchedModelsFromText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateEngagementPoint">
      <soap12:operation soapAction="AdvProspectDb/CalculateEngagementPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLead">
      <soap12:operation soapAction="AdvProspectDb/ImportLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntApi">
    <wsdl:port name="IntApiSoap" binding="tns:IntApiSoap">
      <soap:address location="http://pis.advantech.com:7100/Services/IntApi.asmx" />
    </wsdl:port>
    <wsdl:port name="IntApiSoap12" binding="tns:IntApiSoap12">
      <soap12:address location="http://pis.advantech.com:7100/Services/IntApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>